<!-- templates/home.html -->
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Welcome to the FastAPI-Dash Application</h1>
<p>This is a web application that integrates FastAPI and Dash for data visualization and user management.</p>
<p><a href="/login">Login</a> to access the dashboard.</p>

<!-- Display the date, time, and weather information -->
<div class="info-box">
    <h3>Current Date and Time:</h3>
    <p>Date: {{ info.date }}</p>
    <p>Time: {{ info.time }}</p>
 
    <h3>Weather Information:</h3>
    <p>City: {{ info.weather.city }}</p>
    <p>Temperature: {{ info.weather.temperature }} °C</p>
    <p>Description: {{ info.weather.description }}</p>
</div>
 
<p><a href="/login">Login </a> to access the dashboard.</p>
{% endblock %}